# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# OS
.DS_Store
Thumbs.db

# Env
.env

freqtrade/user_data/config.json
freqtrade/user_data/*.sqlite
freqtrade/user_data/data/
freqtrade/user_data/logs/
freqtrade/user_data/models/
